[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/autoload"]
	path = vim/autoload
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/autoenv"]
	path = zsh/autoenv
	url = https://github.com/kennethreitz/autoenv
[submodule "zplugin"]
	path = zplugin
	url = https://github.com/zdharma/zplugin.git
